.button {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border: none;
    padding: 12px 16px;
    background: hsla(239, 94%, 66%, 1);
    color: hsla(0, 0%, 100%, 1);
    border-radius: 4px;
    max-width: min-content;
    white-space: nowrap;

    &:hover {
        opacity: 0.7;
    }

}