@use "./../../../utils/inputStyles" as mix;

.form2 {
  @include mix.inputStyles;

  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: repeat(3, min-content) 8.8rem;
  grid-template-areas:
    "advantages ."
    "checkbox ."
    "radio ."
    "button_back button_next";
  justify-content: start;
  gap: 2rem;

  &__advantages {
    grid-area: advantages;
  }

  &__checkbox {
    grid-area: checkbox;
  }

  &__radio {
    grid-area: radio;
  }

  &__radioItem {
    appearance: none;

    border-radius: 50%;

    box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.24);
    width: 1.6rem;
    height: 1.6rem;
    display: grid;
    grid-template-columns: 1.6rem auto;

    &:checked {
      gap: 0;
      border: 0.35rem solid #FFF;
      background: hsla(0, 0%, 80%, 1);
    }
  }

  &__button {
    &_back {
      align-self: end;
      grid-area: button_back;
    }

    &_next {
      align-self: end;
      justify-self: end;
      grid-area: button_next;
    }
  }
}