@use "./../../../utils/inputStyles" as mix;

.form2 {
  @include mix.inputStyles;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  grid-template-areas:
    "advantages advantages"
    "checkbox ."
    "radio ."
    "button_back button_next";
  justify-content: start;
  row-gap: 2rem;

  &__advantages {
    grid-area: advantages;
  }

  &__checkbox {
    grid-area: checkbox;
  }

  &__radio {
    grid-area: radio;
  }

  &__button {
    &_back {
      align-self: end;
      grid-area: button_back;
    }

    &_next {
      align-self: end;
      justify-self: end;
      grid-area: button_next;
    }
  }
}