@use "./../../../utils/inputStyles" as mix;

.form3 {
  @include mix.inputStyles;

  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: min-content 8.8rem;
  grid-template-areas:
    "about about"
    "button_back button_submit";
  justify-content: start;
  gap: 2rem;

  &__input {
    width: 100%;
    max-width: 100%;
    height: 8.4rem;
  }

  &__about {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      "container container"
      "error count";

    &_container {
      width: 49vw;
      grid-area: container;
    }

    &_error {
      grid-area: error;
      align-self: end;
    }

    &_count {
      grid-area: count;
      align-self: end;
      justify-self: end;
    }
  }

  &__button {
    &_back {
      align-self: end;
      grid-area: button_back;
    }

    &_submit {
      align-self: end;
      justify-self: end;
      grid-area: button_submit;
    }
  }
}