.form3 {

  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: min-content 8.8rem;
  grid-template-areas:
    "about about"
    "button_back button_submit";
  justify-content: start;
  gap: 2rem;

  &__about {
    grid-area: about;
  }

  &__button {
    &_back {
      align-self: end;
      grid-area: button_back;
    }

    &_submit {
      align-self: end;
      justify-self: end;
      grid-area: button_submit;
    }
  }
}