* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

a {
    text-decoration: none;
    max-width: fit-content;
}

body {
    background-color: hsla(240, 5%, 96%, 1);
    max-height: 100vh;
}