* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

@font-face {
    font-family: "SB Sans Interface";
    src: url("./assets/fonts/SBSansInterface-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "SB Sans Text Mono";
    src: url("./assets/fonts/SBSansInterface-Semibold.woff2") format("woff2");
}

body {
    background-color: hsla(240, 5%, 96%, 1);
    max-height: 100vh;

    font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

fieldset {
    border: none;
}