.header {
  position: relative;

  border-bottom: solid 1px hsla(0, 0%, 0%, 0.08);

  &__userImg {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: hsla(214, 68%, 90%, 1);
    font-size: 35px;
    color: hsla(212, 19%, 16%, 1);
  }
}